<!-- <mat-toolbar color="primary">
  <span>INFO5059</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar> -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Techlead</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link"[routerLink]="['memberhome']">member home</a>
      <a class="nav-link"[routerLink]="['createaccount']">create account</a>
      <a class="nav-link" [routerLink]="['createproductfeedback']">Create Product Feedback</a>
    </div>
  </div>
</nav>
<br>
<div class="row">
  <div class="col-lg-4">
    <img src="assets/images/laptopImg.jpg" alt="Generic placeholder image"
      width="500" height="600">
    <h3>
      Want help Choosing a Laptop?
    </h3>
    <hr>
    <h4>Usage</h4>
    <select class="form-control">
      <option>Gamming</option>
      <option>Browisng</option>
      <option>Business</option>
    </select>
    <br>
    <h4>Budget</h4>
    <select class="form-control">
      <option>Less than 1000</option>
      <option>1000-3000</option>
      <option>More than 3000</option>
    </select>
    <br>
    <button type="button" class="btn btn-primary btn-lg">Find</button>

  </div>
  <div class="col-lg-4">
    <img  src="assets/images/phoneImg.png"
      alt="Generic placeholder image" width="500" height="600">
    <h3>
      Want help Choosing a Phone?
    </h3>
    <hr>
    <h4>Usage</h4>
    <select class="form-control">
      <option>Gamming</option>
      <option>Browisng</option>
      <option>Business</option>    
    </select>
    <br>
    <h4>Budget</h4>
    <select class="form-control">
      <option>Less than 1000</option>
      <option>1000-3000</option>
      <option>More than 3000</option>
    </select>
    <br>
    <p>
      <button type="button" class="btn btn-primary btn-lg">Find</button>
    </p>
  </div>

  <div class="col-lg-4">
    <img src="assets/images/pcImg.jpg" alt="Generic placeholder image"
    width="500" height="600">
    <h3>
      Want help Choosing a PC?
    </h3>
    <hr>
    <h4>Usage</h4>
    <select class="form-control">
      <option>Gamming</option>
      <option>Browisng</option>
      <option>Business</option>
    </select>
    <br>
    <h4>Budget</h4>
    <select class="form-control">
      <option>Less than 1000</option>
      <option>1000-3000</option>
      <option>More than 3000</option>
    </select>
    <br>
    <p>
      <button type="button" class="btn btn-primary btn-lg">Find</button>
    </p>

  </div>
</div> -->
<!-- <mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['memberhome']">member home</a>
  <a mat-menu-item [routerLink]="['createaccount']">create account</a>
  <a mat-menu-item [routerLink]="['createproductfeedback']">Create Product Feedback</a>
</mat-menu> -->

<router-outlet></router-outlet>
