<form [formGroup]="createAccountForm" novalidate>
  <!-- Account info accordion-->
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="my-primary-text">
        <mat-panel-title>
          Account Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
      <!-- User name Input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="User Name" type="text" formControlName="userName">
          <mat-error flex *ngIf="userName.errors && (userName.dirty || userName.touched)" align="end" >
            <p *ngIf="userName.hasError('required')">User Name is required.</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Password Input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="password.errors && (password.dirty || password.touched)" align="end" >
            <p *ngIf="password.hasError('required')">Password is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Email Input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Email" type="email" formControlName="email">
          <mat-error flex *ngIf="email.errors && (email.dirty || email.touched)" align="end" >
            <p *ngIf="email.hasError('required')">Email is required</p>
            <p *ngIf="!email.hasError('required') && email.hasError('email')">
              valid format required - xx@xx.xx</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
    </mat-expansion-panel>
  </mat-accordion>
  <br/>
  <!-- Payment Information accordion -->
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="my-primary-text">
        <mat-panel-title>
          Payment Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <br/>
      <!-- Payment Type input -->
      <div layout="row">
        <mat-form-field>
          <mat-select placeholder="Payment Method" formControlName="paymentType" value="paymentType">
            <mat-option [value]="" disabled selected>Payment Method</mat-option>
            <mat-option [value]="'PAYPAL'">Pay Pal</mat-option>
            <mat-option [value]="'VISA'">Visa</mat-option>
            <mat-option [value]="'MASTERCARD'">Master Card</mat-option>
            <mat-option [value]="'PAYSAFECARD'">PaySafe Card</mat-option>
            <mat-option [value]="'AMERICANEXPRESS'">American Express</mat-option>
          </mat-select>
          <mat-error *ngIf="paymentType.errors && (paymentType.dirty || paymentType.touched)" align="end">
            <p align="end" mat-pad-xs *ngIf="paymentType.hasError('required')">Choose a Payment Type</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Card Number input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Card Number" type="text" formControlName="cardNumber">
          <mat-error *ngIf="cardNumber.errors && (cardNumber.dirty || cardNumber.touched)" align="end">
            <p *ngIf="cardNumber.hasError('required')">Card Number is required</p>
            <p *ngIf="!cardNumber.hasError('required') && cardNumber.hasError('invalidCardNum')">
              The card's number is 16 digits</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Card Expiry Date input -->
      <div layout="row">
        <mat-form-field>
          <input matInput type="date" placeholder="Expiry Date" formControlName="expiryDate">
          <mat-error *ngIf="expiryDate.errors && (expiryDate.dirty || expiryDate.touched)" align="end">
            <p *ngIf="expiryDate.hasError('required')">Expiry Date is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Security Code input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Security Code" type="text" formControlName="securityCode">
          <mat-error *ngIf="securityCode.errors && (securityCode.dirty || securityCode.touched)" align="end">
            <p *ngIf="securityCode.hasError('required')">Security Code is required</p>
            <p *ngIf="!securityCode.hasError('required') && securityCode.hasError('invalidCardCode')">
              the card's security code is 3 digits</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- First Name input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Holder's First Name" type="text" formControlName="holdersFirstName">
          <mat-error *ngIf="holdersFirstName.errors && (holdersFirstName.dirty || holdersFirstName.touched)"
                     align="end">
            <p *ngIf="holdersFirstName.hasError('required')">Card holder's first name is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Last Name input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Holder's Last Name" type="text" formControlName="holdersLastName">
          <mat-error *ngIf="holdersLastName.errors && (holdersLastName.dirty || holdersLastName.touched)"
                     align="end">
            <p *ngIf="holdersLastName.hasError('required')">Card holder's last name is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- City input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="City" type="text" formControlName="city">
          <mat-error *ngIf="city.errors && (city.dirty || city.touched)" align="end">
            <p *ngIf="city.hasError('required')">City is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Province input -->
      <div layout="row">
        <mat-form-field>
          <mat-select placeholder="Province" formControlName="province" value="province">
            <mat-option [value]="" disabled selected>Province</mat-option>
            <mat-option [value]="'AB'">Alberta</mat-option>
            <mat-option [value]="'BC'">British Columbia</mat-option>
            <mat-option [value]="'MB'">Manitoba</mat-option>
            <mat-option [value]="'NB'">New Brunswick</mat-option>
            <mat-option [value]="'NL'">Newfoundland and Labrador</mat-option>
            <mat-option [value]="'NT'">Northwest Territories</mat-option>
            <mat-option [value]="'NS'">Nova Scotia</mat-option>
            <mat-option [value]="'NU'">Nunavut</mat-option>
            <mat-option [value]="'ON'">Ontario</mat-option>
            <mat-option [value]="'PE'">Prince Edward Island</mat-option>
            <mat-option [value]="'QC'">Quebec</mat-option>
            <mat-option [value]="'SK'">Saskatchewan</mat-option>
            <mat-option [value]="'YT'">Yukon</mat-option>
          </mat-select>
          <mat-error *ngIf="province.errors && (province.dirty || province.touched)" align="end">
            <p align="end" mat-pad-xs *ngIf="province.hasError('required')">Choose a Province</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Billing Address 1 input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Billing Address 1" type="text" formControlName="billingAddress1">
          <mat-error *ngIf="billingAddress1.errors && (billingAddress1.dirty || billingAddress1.touched)"
                     align="end">
            <p *ngIf="billingAddress1.hasError('required')">Billing Address 1 is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Billing Address 2 input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Billing Address 2" type="text" formControlName="billingAddress2">
          <mat-error *ngIf="billingAddress2.errors && (billingAddress2.dirty || billingAddress2.touched)"
                     align="end">
            <p *ngIf="billingAddress2.hasError('required')">Billing Address 2 is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Postal Code input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Postal Code" type="text" formControlName="postalCode">
          <mat-error *ngIf="postalCode.errors && (postalCode.dirty || postalCode.touched)" align="end">
            <p *ngIf="postalCode.hasError('required')">Postal code is required</p>
            <p *ngIf="!postalCode.hasError('required') && postalCode.hasError('invalidPostalCode')">
              needs format - N1N-1N1</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Phone Number input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Phone Number" type="text" formControlName="phoneNumber">
          <mat-error *ngIf="phoneNumber.errors && (phoneNumber.dirty || phoneNumber.touched)" align="end">
            <p *ngIf="phoneNumber.hasError('required')">Phone number is required</p>
            <p *ngIf="!phoneNumber.hasError('required') && phoneNumber.hasError('invalidPhone')">
              needs format - (###)###-####</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <br/>
    </mat-expansion-panel>
  </mat-accordion>
  <span>
    <br/>
    <br/>
    <button mat-raised-button [disabled]="!createAccountForm.valid" type="button">Save</button>
  </span>
</form>
