<form [formGroup]="createAccountForm" novalidate>
<h1>Create an account</h1>
      <!-- User name Input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="User Name" type="text" formControlName="userName">
          <mat-error flex *ngIf="userName.errors && (userName.dirty || userName.touched)" align="end" >
            <p *ngIf="userName.hasError('required')">User Name is required.</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
      <!-- Password Input -->
      <div layout="row">
        <mat-form-field>
          <input matInput placeholder="Password" type="password" formControlName="password">
          <mat-error *ngIf="password.errors && (password.dirty || password.touched)" align="end" >
            <p *ngIf="password.hasError('required')">Password is required</p>
          </mat-error>
        </mat-form-field>
      </div>
      <br/>
  <mat-card-footer align="end" class="my-accent-text">
    <span style="padding-right: 2vw;">{{msg}}</span>
  </mat-card-footer>
  <span>
    <br/>
    <br/>
    <button mat-raised-button [disabled]="!createAccountForm.valid" (click)="createMember()" type="button">
      Create Account</button>
  </span>
</form>
