<!--<app-nav-menu [MemberLoginStatus]="loginStatus"></app-nav-menu>-->
<!--<div class="col-md-6 offset-md-3 mt-5">-->
<div>
  <div class="card" style="padding-bottom: 12%;">
    <div *ngIf="loginStatus">
      <h4 class="card-header" style="background-color: tomato; color: white">Submit Product Feedback</h4>
      <div class="card-body">
        <form [formGroup]="createFeedbackForm" (ngSubmit)="createFeedback()">
          <!--Product Type-->
          <div class="form-group" >
            <!--Rating-->
            <div layout="row">
              <label for="rating">Rating</label>
              <br/>
              <mat-slider formControlName="rating" min="0" max="5" step="1" tickInterval="1"
                          thumbLabel="thumbLabel" class="form-control"></mat-slider>
            </div>
            <br/>
            <!--Feedback text-->
            <div layout="row">
              <label for="feedbackField">Feedback Text</label>
              <br/>
              <textarea formControlName="feedbackField" placeholder="Enter Feedback" cols="40" rows="5"
                        [ngClass]="{ 'is-invalid': submitted && f.feedbackField.errors }" class="form-control"></textarea>
              <div *ngIf="submitted && f.feedbackField.errors" class="invalid-feedback">
                <div *ngIf="f.feedbackField.errors.required">Feedback is required</div>
              </div>
            </div>
          </div>
          <br/>
          <span>
        <br/>
       <button [disabled]="loading">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Submit Feedback
        </button>
      </span>

        </form>
      </div>
    </div>
    <div *ngIf="!loginStatus">
      <h4 class="card-header" style="background-color: tomato; color: white">Login to submit product feedback</h4>
    </div>
    <br/>
    <br/>
    <!-- Feedback output table-->
    <div style="padding-left: 6%;text-align: center">
      <mat-grid-list cols="2" rowHeight="3:1" *ngIf="showFeedbackTable" class="centerBodyFeedback">
        <mat-grid-tile *ngFor="let feedback of selectedProductFeedbacks" class="col-4 col-lg-4 col-sm-4">
          <div class="card">
            <h6 class="card-header" style="background-color: tomato; color: white">Member: {{feedback.memberName}}</h6>
            <div class="card-body">
              <div layout="row">
                <img
                  src="assets/images/{{feedback.rating}}.png"
                  alt="Generic placeholder image"
                  width="40%"
                  height="7%"
                />
              </div>
              <br/>
              <div layout="row">
                {{feedback.text}}
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>


    <div *ngIf="showNoFeedback" style="text-align: center;">There is no feedback to display</div>
  </div>
</div>
