.tiles{
  margin-left: 3%;
  text-align: center;
}

button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  font-family: "Agency FB";
  margin-top: 10%;
}

h4{
  font-family: "Agency FB";
  font-size: 30px;
  margin-top: 10%;
  text-align: left;
}

h3{
  font-family: "Agency FB";
  font-size: 30px;
  font-weight: bold;
}

table{
  margin-top: 2% !important;
  margin-left: 8% !important;
}
