<app-nav-menu [MemberLoginStatus]="loginStatus"></app-nav-menu>
<div class="bgColour">

  <mat-card class="centerBody" style="padding-bottom: 3% !important">
    <mat-card-content>
      <table>
        <tr>
<!--      Phone-->
          <td>
            <mat-card class="tiles">
              <img
                src="assets/images/phoneImg.png"
                alt="Generic placeholder image"
                width="400px"
                height="400px"
              />

              <h3>Want help Choosing a Phone?</h3>

              <h4>Usage</h4>
              <select class="form-control" [(ngModel)] ='phoneUsage'>
                <option value="All">List All Products</option>
                <option value="Everyday Usage">Everyday Usage</option>
                <option value="Media Consumption">Media Consumption</option>
                <option value="Media Production">Media Production</option>
              </select>

              <h4>Budget</h4>
              <select class="form-control" [(ngModel)] ='phoneBudget'>
                <option value="1819">List All Prices</option>
                <option value="1000">$1,000 Budget</option>
                <option value="1200">$1,200 Budget</option>
                <!--      <option value="+3000">More than 3000</option>-->
              </select>

              <button [routerLink]="['products', 'Phone', phoneUsage, phoneBudget]" id="findPhone">Find</button>
            </mat-card>
          </td>

<!--        Laptop-->
          <td>
            <mat-card class="tiles">
              <img
                src="assets/images/laptopImg.jpg"
                alt="Generic placeholder image"
                width="400px"
                height="400px"
              />

              <h3>Want help Choosing a Laptop?</h3>

              <h4>Usage</h4>
              <select class="form-control" [(ngModel)] ='laptopUsage'>
                <option value="All">List All Products</option>
                <option value="Browsing">Browsing</option>
                <option value="Business">Business</option>
                <option value="Programming">Programming</option>
                <option value="Light Gaming">Light Gaming</option>
                <option value="Gaming">Gaming</option>
                <option value="Graphic Design">Graphic Design</option>
                <option value="Mobile Workstation">Mobile Workstation</option>
              </select>

              <h4>Budget</h4>
              <select class="form-control" [(ngModel)] ='laptopBudget'>
                <option value="3600">List All Prices</option>
                <option value="1000">$1,000 Budget</option>
                <option value="2000">$2,000 Budget</option>
                <!--      <option value="+3000">More than 3000</option>-->
              </select>

              <button [routerLink]="['products', 'Laptop', laptopUsage, laptopBudget]" id="findLaptop">Find</button>
            </mat-card>
          </td>

<!--        PC-->
          <td>
            <mat-card class="tiles">
              <img
                src="assets/images/pcImg.jpg"
                alt="Generic placeholder image"
                width="400px"
                height="400px"
              />

              <h3>Want help Choosing a PC?</h3>

              <h4>Usage</h4>
              <select class="form-control" [(ngModel)] ='pcUsage'>
                <option value="All">List All Products</option>
                <option value="Gaming">Gaming</option>
                <option value="Browsing">Browsing</option>
                <!--      <option value="Business">Business</option>-->
              </select>

              <h4>Budget</h4>
              <select class="form-control" [(ngModel)] ='pcBudget'>
                <option value="10400">List All Prices</option>
                <option value="2000">$2,000 Budget</option>
                <option value="4000">$4,000 Budget</option>
                <!--      <option value="3000+">More than 3000</option>-->
              </select>

              <button [routerLink]="['products', 'PC', pcUsage, pcBudget]" id="findPc">Find</button>
            </mat-card>
          </td>
        </tr>
      </table>
    </mat-card-content>

  </mat-card>
</div>
