<!--so far this is only for pcs. need to conditionally render everything-->
<mat-toolbar color="primary">
  <span>Products</span>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-card-header class="app-accent" layout="row">
      <mat-card-title>
        <span class="mat-headline">{{ msg }}</span>
      </mat-card-title>
    </mat-card-header>
    <mat-list flex>
        <!-- make sure its written as the actual selector -->
      <app-pc-list [pcs]="pcs$ | async" (selected)="openDetailsModalPc($event)"> </app-pc-list>
      <app-laptop-list [laptops]="laptops" (selected)="openDetailsModalLaptop($event)"> </app-laptop-list>
      <app-phone-list [phones]="phones$ | async" (selected)="openDetailsModalPhone($event)"> </app-phone-list>
    </mat-list>
  </mat-card-content>
</mat-card>
