mat-expansion-panel{
  margin-bottom: 0.5%;
}

mat-panel-title{
  font-family: "Agency FB";
  font-weight: bold;
  font-size: 200%;
}

a{
  font-weight: bold;
}

button{
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Agency FB";
}

.btndiv {
  text-align: right !important;
}

mat-grid-tile{
  width: 100%;
}
