/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

.basic-container {
  padding: 30px;
}

// return to home button
.delay {
  animation: 1s fadeIn;
  animation-fill-mode: forwards;

  visibility: hidden;
}

@keyframes fadeIn {
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.centerBody{
  width: 80%;
  margin: 0 auto;
}

.bgColour{
  background-color: lightsalmon;
}
